{% comment %}theme-check-disable UndefinedObject{% endcomment %}

<div>
  <input
    class='order-details-form__input-{{ option.name | downcase }} visually-hidden'
    type='radio'
    name='options[{{ option.name | escape }}]'
    id='{{ option.name | downcase }}-{{ value | downcase }}'
    value='{{ value | escape }}'
    {% if option.selected_value == value %}
      checked
    {% endif %}
  >
  <label for='{{ option.name | downcase }}-{{ value | downcase }}'>
    <span class='visually-hidden'>{{ option.name | downcase }}:</span>
    {{ value | downcase }}
  </label>
</div>
