{% comment %}theme-check-disable UndefinedObject{% endcomment %}

<dl class='product-description__description-list' {{ shopify_attributes }}>
  <dt class='product-description__description-term'>
    <button
      class='product-description__button'
      type='button'
      aria-expanded='false'
      aria-controls='description-{{ id }}'
    >
      {{ heading }}
    </button>
  </dt>
  <dd class='product-description__description-definition'>
    <div id='description-{{ id }}'>
      {{ text }}
    </div>
  </dd>
</dl>
