<section
        class="main__wrapper"
        aria-labelledby="heading-{{ product.handle }}"
        data-section-id="{{ section.id }}"
        data-section-type="alternate-main-product"
      >
        <div class="order-details main__order-details">
          <h1
            class="order-details__heading"
            id="heading-{{ product.handle }}"
          >
            {{ product.title }}
          </h1>
          <span class="product-price order-details__price">
            <span class="visually-hidden">price:</span>
            <span class="product-price__currency">{{ shop.currency }}</span>
            <span class="product-price__price">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
          </span>
          <span class="order-details__tax-info">tax included</span>

          {%- form 'product',
            product,
            class: 'order-details-form order-details__form',
            aria-lable: 'order details',
            data-product-handle: product.handle
          -%}
          {%- for option in product.options_with_values -%}
            <fieldset
              class="order-details-form__fieldset order-details-form__fieldset--{{ option.name | downcase }}"
            >
              <legend>{{ option.name }} {% if option.name == 'Color' %}- <span></span>{% endif %}</legend>

              {%- for value in option.values -%}
                {%- case option.name -%}
                  {%- when 'Size' -%}
                    {%- render 'alternate-radio-input--size', option: option, value: value -%}
                  {%- when 'Color' -%}
                    {%- render 'alternate-radio-input--color', option: option, value: value -%}
                  {%- endcase -%}
              {%- endfor -%}
            </fieldset>
          {%- endfor -%}

            <fieldset class="order-details-form__fieldset order-details-form__fieldset--quantity">
              <legend>quantity</legend>
              <button
                type="button"
                class="order-details-form__button-quantity order-details-form__button-quantity--decrease"
              >
                <span class="visually-hidden">decrease quantity by one</span>
                <span aria-hidden="true">−</span>
              </button>
              <input
                class="order-details-form__input-quantity"
                type="number"
                name="quantity"
                value="1"
                min="1"
                step="1"
                max="9"
                autocomplete="off"
                required
                aria-label="quantity"
              />
              <button
                type="button"
                class="order-details-form__button-quantity order-details-form__button-quantity--increase"
              >
                <span class="visually-hidden">increase quantity by one</span>
                <span aria-hidden="true">+</span>
              </button>
              <span
                class="order-details-form__error order-details-form__error--quantity"
                aria-live="polite"
                role="alert"
              >
              </span>
            </fieldset>

            <button
              type="submit"
              class="order-details-form__button order-details-form__button--add-to-cart"
              {% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}
            >
              add
              <span class="visually-hidden">{{ product.title | downcase }}</span>
              to cart
            </button>
            <span
              class="order-details-form__error order-details-form__error--form"
              aria-live="polite"
              role="alert"
            >
            </span>
            <button
              type="button"
              class="order-details-form__button order-details-form__button--blue"
            >
              <span class="visually-hidden">{{ product.title | downcase }} — </span>
              buy it now
            </button>
          {%- endform -%}

  			  {{ product.description }}
        </div>

        <div class="product-description main__product-description">
          <img
            class="product-description__image"
            src="{{ product.featured_image | image_url }}"
            width="473"
            height="707"
            alt=""
            role="presentation"
            loading="lazy"
          />

          {%- assign accordions = section.blocks | where: "type", "accordion" -%}
          {%- if accordions.size > 0 -%}
            <div class="product-description__wrapper">
              {%- for block in accordions -%}
                {%-
                  render 'alternate-accordion',
                    shopify_attributes: block.shopify_attributes,
                    id: block.id,
                    heading: block.settings.heading,
                    text: block.settings.text
                -%}
              {%- endfor -%}
            </div>
          {%- endif -%}
      </section>

{% schema %}
{
  "name": "Product",
  "limit": 1,
  "templates": [
    "product"
  ],
  "settings": [],
  "blocks": [
    {
      "name": "Accordion",
      "type": "accordion",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Sizing & Fit"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Alternate product",
      "settings": {
      },
      "blocks": [
        {
          "type": "accordion"
        },
        {
          "type": "accordion"
        },
        {
          "type": "accordion"
        }
      ]
    }
  ]
}
{% endschema %}