<section
        class="main__wrapper"
        aria-labelledby="heading-{{ product.handle }}"
      >
        <div class="order-details main__order-details">
          <h1
            class="order-details__heading"
            id="heading-{{ product.handle }}"
          >
            {{ product.title }}
          </h1>
          <span class="order-details__price">
            <span class="visually-hidden">price:</span>
            {{ shop.currency }} {{ product.price | money_without_trailing_zeros }}
          </span>
          <span class="order-details__tax-info">tax included</span>

          <form
            class="order-details-form order-details__form"
            action="/cart"
            aria-label="order details"
          >
            <fieldset
              class="order-details-form__fieldset order-details-form__fieldset--size"
            >
              <legend>size</legend>
              <div>
                <input
                  class="order-details-form__input-size visually-hidden"
                  type="radio"
                  name="size"
                  id="size-xs"
                  value="xs"
                />
                <label for="size-xs">
                  <span class="visually-hidden">size:</span>
                  xs
                </label>
              </div>

              <div>
                <input
                  class="order-details-form__input-size visually-hidden"
                  type="radio"
                  name="size"
                  id="size-s"
                  value="s"
                  checked
                />
                <label for="size-s">
                  <span class="visually-hidden">size:</span>
                  s
                </label>
              </div>

              <div>
                <input
                  class="order-details-form__input-size visually-hidden"
                  type="radio"
                  name="size"
                  id="size-m"
                  value="m"
                />
                <label for="size-m">
                  <span class="visually-hidden">size:</span>
                  m
                </label>
              </div>

              <div>
                <input
                  class="order-details-form__input-size visually-hidden"
                  type="radio"
                  name="size"
                  id="size-l"
                  value="l"
                />
                <label for="size-l">
                  <span class="visually-hidden">size:</span>
                  l
                </label>
              </div>

              <div>
                <input
                  class="order-details-form__input-size visually-hidden"
                  type="radio"
                  name="size"
                  id="size-xl"
                  value="xl"
                />
                <label for="size-xl">
                  <span class="visually-hidden">size:</span>
                  xl
                </label>
              </div>

              <div>
                <input
                  class="order-details-form__input-size visually-hidden"
                  type="radio"
                  name="size"
                  id="size-2xl"
                  value="2xl"
                  disabled
                />
                <label for="size-2xl">
                  <span class="visually-hidden">size:</span>
                  2xl
                </label>
              </div>
            </fieldset>

            <fieldset
              class="order-details-form__fieldset order-details-form__fieldset--color"
            >
              <legend>color - <span></span></legend>
              <div class="order-details-form__input-wrapper">
                <input
                  class="order-details-form__input-color order-details-form__input-color--white visually-hidden"
                  type="radio"
                  name="color"
                  id="color-white"
                  value="white"
                  checked
                />
                <label for="color-white">
                  <span class="visually-hidden">color: white</span>
                </label>
                <span
                  class="order-details-form__tooltip-color"
                  aria-hidden="true"
                >
                  White latte
                </span>
              </div>

              <div class="order-details-form__input-wrapper">
                <input
                  class="order-details-form__input-color order-details-form__input-color--black visually-hidden"
                  type="radio"
                  name="color"
                  id="color-black"
                  value="black"
                />
                <label for="color-black">
                  <span class="visually-hidden">color: black</span>
                </label>
                <span
                  class="order-details-form__tooltip-color"
                  aria-hidden="true"
                >
                  Black latte
                </span>
              </div>

              <div class="order-details-form__input-wrapper">
                <input
                  class="order-details-form__input-color order-details-form__input-color--gray visually-hidden"
                  type="radio"
                  name="color"
                  id="color-gray"
                  value="gray"
                />
                <label for="color-gray">
                  <span class="visually-hidden">color: gray</span>
                </label>
                <span
                  class="order-details-form__tooltip-color"
                  aria-hidden="true"
                >
                  Gray latte
                </span>
              </div>

              <div class="order-details-form__input-wrapper">
                <input
                  class="order-details-form__input-color order-details-form__input-color--purple visually-hidden"
                  type="radio"
                  name="color"
                  id="color-purple"
                  value="purple"
                />
                <label for="color-purple">
                  <span class="visually-hidden">color: purple</span>
                </label>
                <span
                  class="order-details-form__tooltip-color"
                  aria-hidden="true"
                >
                  Purple latte
                </span>
              </div>

              <div class="order-details-form__input-wrapper">
                <input
                  class="order-details-form__input-color order-details-form__input-color--pink visually-hidden"
                  type="radio"
                  name="color"
                  id="color-pink"
                  value="pink"
                  disabled
                />
                <label for="color-pink">
                  <span class="visually-hidden">color: pink</span>
                </label>
                <span
                  class="order-details-form__tooltip-color"
                  aria-hidden="true"
                >
                  Pink latte
                </span>
              </div>

              <div class="order-details-form__input-wrapper">
                <input
                  class="order-details-form__input-color order-details-form__input-color--beige visually-hidden"
                  type="radio"
                  name="color"
                  id="color-beige"
                  value="beige"
                  disabled
                />
                <label for="color-beige">
                  <span class="visually-hidden">color: beige</span>
                </label>
                <span
                  class="order-details-form__tooltip-color"
                  aria-hidden="true"
                >
                  Beige latte
                </span>
              </div>
            </fieldset>

            <fieldset class="order-details-form__fieldset">
              <legend>quantity</legend>
              <button
                type="button"
                class="order-details-form__button-quantity order-details-form__button-quantity--decrease"
              >
                <span class="visually-hidden">decrease quantity by one</span>
                <span aria-hidden="true">−</span>
              </button>
              <input
                class="order-details-form__input-quantity"
                type="number"
                name="quantity"
                value="1"
                min="1"
                step="1"
                max="9"
                autocomplete="off"
                required
                aria-label="quantity"
              />
              <button
                type="button"
                class="order-details-form__button-quantity order-details-form__button-quantity--increase"
              >
                <span class="visually-hidden">increase quantity by one</span>
                <span aria-hidden="true">+</span>
              </button>
              <span
                class="order-details-form__quantity-error"
                aria-live="polite"
                role="alert"
              >
              </span>
            </fieldset>

            <button
              type="button"
              class="order-details-form__button order-details-form__button--add-to-cart"
            >
              add
              <span class="visually-hidden">{{ product.title | downcase }}</span>
              to cart
            </button>
            <button
              type="submit"
              class="order-details-form__button order-details-form__button--blue"
            >
              <span class="visually-hidden">{{ product.title | downcase }} — </span>
              buy it now
            </button>
          </form>

  			  {{ product.description }}
        </div>

        <div class="product-description main__product-description">
          <img
            class="product-description__image"
            src="{{ product.featured_image | image_url }}"
            width="473"
            height="707"
            alt=""
            role="presentation"
            loading="lazy"
          />

          {%- assign accordions = section.blocks | where: "type", "product_accordion" -%}
          {%- if accordions.size > 0 -%}
            <div class="product-description__wrapper">
              {%- for block in accordions -%}
                {%- render 'alternate-accordion', block: block -%}
              {%- endfor -%}
            </div>
          {%- endif -%}
      </section>



{% schema %}
{
  "name": "Product",
  "limit": 1,
  "templates": [
    "product"
  ],
  "settings": [],
  "blocks": [
    {
      "name": "Accordion",
      "type": "product_accordion",
      "settings": [
        {
          "type": "text",
          "id": "product_accordion_heading",
          "label": "Heading",
          "default": "Sizing & Fit"
        },
        {
          "type": "richtext",
          "id": "product_accordion_text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Alternate product",
      "settings": {
      },
      "blocks": [
        {
          "type": "product_accordion"
        },
        {
          "type": "product_accordion"
        },
        {
          "type": "product_accordion"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
